@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family:'docu' ;
    src: url('./fontes/Roboto-Bold.ttf') format('opentype');
}
*{
    padding: 0px;
    margin: 0px;
}

body#one{
    margin: auto;
    width: auto;
    height: 10px;
}
header#home{
    background-color: rgba(255, 255, 255, 0);
    padding: 15px;
    margin: 10px;
}

main#home{
    width: auto;
    height: 10px;
    
}
menu#inicio{
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    transform: translate(-141px, 0px);
    text-align: end;

}




li.home{
    text-align: justify;
    list-style: none;
    display: contents;
}

#burguer{
    color: #9603b9;
    
}
#burguer:hover{
    color: #c555e0;
}
@media(min-width:600px){
    #burguer{
        color: transparent;

        
    }
    #burguer:hover{
        color: transparent;
    }
}
@media(max-width:600px){
    nav#inicio{
        background-color: rgba(255, 255, 255, 0);
        margin: auto;
        transform: translate(141px 0px);
        text-align: end;
        text-align: left;
        font-size: 1.5em;
    }
    div#nav{
        width: 280px;
        height: auto;
    }
    div#home{
        width: 450px;
        height: 225px;
        padding: 43px;
        margin: 0px;
        margin-bottom: 100px;
        color: blueviolet;
        
        padding-left: 150px;
        position: fixed;
    }
    li.home{
        text-align: justify;
        list-style: none;
        padding: 10px;
        display: block;
        }
        menu#inicio{
            display: none;
        }
        header#home{
            background-color: rgba(255, 255, 255, 0);
            padding: 15px;
            margin: 10px;
    }
}
@media(max-width:320px){
    nav#inicio{
        background-color: rgba(255, 255, 255, 0);
        margin: auto;
        transform: translate(141px 0px);
        text-align: end;
        text-align: left;
        font-size: 1.5em;
    }
    div#nav{
        width: 275px;
        height: auto;
    }
    div#home{
        width: 450px;
        height: 225px;
        padding: 43px;
        margin: 0px;
        margin-bottom: 100px;
        color: blueviolet;
        
        padding-left: 150px;
        position: fixed;
    }
    li.home{
        text-align: justify;
        list-style: none;
        padding: 10px;
        display: block;
        }
        menu#inicio{
            display: none;
        }
        header#home{
            background-color: rgba(255, 255, 255, 0);
            padding: 15px;
            margin: 10px;
    }
}
div#nav{
    width: 1012px;
    height: auto;
   
    transform: translate(192px, -60px);
}

    


a.home{ 
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    padding-left: 90px;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: blueviolet;

}
a.home:hover{
    text-decoration: none;
    color: rgb(95, 0, 184);

}

div#home{
    width: 900px;
    height: 450px;
    padding: 43px;
    margin: 0px;
    margin-bottom: 100px;
    color: blueviolet;

    padding-left: 150px;
    position: fixed;
}


p.no{
    color: rgb(100, 99, 99);
    font-size: 1.5em;
    text-align: justify;
    font-family: 'docu','cursive';
}
h2#di{
    color: blueviolet;
    text-align: justify;
    font-size: 6.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
h2#id{
    color: blueviolet;
    text-align: justify;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -39px ;

}h3#td{
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    padding-top: 9px ;
    padding-bottom: 40px; 
    
}
a#did{
    color: white;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 48px;
    background-color: rgb(155, 224, 56);
    padding: 10px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 60px;
}
a#did:hover{
    text-decoration: none;
    background-color: rgb(52, 236, 52);
}

img.logo{
    display: block;
}
img#img{
    margin-top: -82px;
    margin-left: 230px;
}
picture#home{
    position: fixed;
}
#menu{

}    


/*IndexII*/

body{
    background-color: rgba(107, 48, 166, 0);
    
}
div#purple{
    width: 683px;
    height: 644px;
    text-align: center;
    display: inline-block;
    background-color: rgb(107, 48, 166);
    color: #fffefe;
    margin: auto;
    padding-top: 19px;
}
div#white{
    width: 653px;
    height: 627px;
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #9603b9;
    margin: auto;
}
img#ol{
    display: block;
    background-attachment: fixed;
    background-position: left center;
    padding-left: 10px;
    margin-bottom: 10px;
}

    
